@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --textColor: white;
    --bgColor: rgb(14, 13, 13);
    --divColor:rgb(31, 31, 31);
    --bioColor : rgb(192, 106, 7);
}
body{
    font-family: 'Roboto', sans-serif;
    color:var(--textColor);
    background:var(--divColor);
    margin:0;
}

.dashboard-container{
    background:var(--bgColor);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px ;
    flex-wrap: wrap;
    box-shadow: 1px -3px 5px 0px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 1px -3px 5px 0px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 1px -3px 5px 0px rgba(0,0,0,0.75) inset;

    
}
.social-button{
    border:1px solid white;
    padding:3px 5px;
    text-decoration: none;
    color: white;
    
}
.social-button:hover{
    color:black;
    background: white;
    font-weight: 400;
}
.social-icons{
    padding: 0px 5px;
    margin-top:20px;
    
}
h4{
    color:var(--bioColor);
}

