@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --textColor: white;
    --bgColor: rgb(12, 14, 29);
    --divColor:rgb(31, 34, 51);
    --bioColor : rgb(192, 106, 7);
}
body{
    font-family: 'Roboto', sans-serif;
    color:var(--textColor);
    background:var(--bgColor);
    margin:0;
}

.dashboard-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px ;
    flex-wrap: wrap;
    border:1px solid white;
    
}
.social-button{
    border:1px solid white;
    padding:3px 5px;
    text-decoration: none;
    color: white;
    
}
.social-button:hover{
    color:black;
    background: white;
    font-weight: 400;
}
.social-icons{
    padding: 0px 5px;
    margin-top:20px;
    
}
h4{
    color:var(--bioColor);

}
